<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>三菱UFJ</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
<!--    <link href="style.css" rel="stylesheet" type="text/css"></link> -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
<div id="app">
 <v-app id="example-4" standalone>
	<v-content>
		<v-container>
<!--		<%= connectResults[0].accountID__c %> -->
				<div >
					<h3>Twitterメッセージ</h3>
					<span>最新情報</span>
					<div style="text-align:right;color:gray;font-family:'ヒラギノ角ゴシック';">
						最終ログイン：2018/07/10 23:00:52
					</div>
				</div>
				<v-textarea
				　color="red lighten-1"
		          box
		          name="input-2-4"
		          label="ID：<%= connectResults[0].twitterid__c %>　　　　　　　　アカウント名：<%= connectResults[0].twitteraccount__c %>　　　　　　　　　現在時刻 ●：●●"
		          value="<%= connectResults[0].message__c %>"
		        ></v-textarea>
				<v-textarea
				　color="red lighten-1"
		          box
		          name="input-2-4"
		          label="ID：<%= connectResults[1].twitterid__c %>　　　　　　　　アカウント名：<%= connectResults[1].twitteraccount__c %>　　　　　　　　　現在時刻 ●：●●"
		          value="<%= connectResults[1].message__c %>"
		          value2="アカウント名"
		        ></v-textarea>

				<v-textarea
				　color="red lighten-1"
		          box
		          name="input-2-4"
		          label="ID：yurikoooooooo　　　　　　　　アカウント名：ゆりこここ　　　　　　　　　現在時刻 ●：●●"
		          value="twitter用メッセージなう"
		          value2="アカウント名"
		        ></v-textarea>
		    </v-container>
        </v-content>
	</v-app>
</div>



	<script type="text/javascript">
		var urlParam = location.search.substring(1);
 
// URLにパラメータが存在する場合
if(urlParam) {
  // 「&」が含まれている場合は「&」で分割
  var param = urlParam.split('&');
 
  // パラメータを格納する用の配列を用意
  var paramArray = [];
 
  // 用意した配列にパラメータを格納
  for (i = 0; i < param.length; i++) {
    var paramItem = param[i].split('=');
    paramArray[paramItem[0]] = paramItem[1];
  }
 
  // パラメータidがosakaかどうかを判断する
  if (paramArray.accountid == '112233') {
    $('.pram').append('<p>112233です</p>');
  } else {
    $('.pram').append('<p>112233ではありません</p>');
  }
}


	new Vue({
	  el: '#app',
	  data: () => ({
		  gradient 	: 'to top, #7B1FA2, #E1BEE7',
		}),
	    props: {
	      source: String
	    }
    })
	</script>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>

    </body>
</html>
