<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="hogehoge">
    <meta name="viewport" content="width=device-width">
    <title>東京海上日動</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
    <link href="style.css" rel="stylesheet" type="text/css"></link>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
</head>
<body>
<div id="app">
 <v-app id="example-4" standalone>
 	<!-- ナビゲーションバー-->
	  <v-navigation-drawer 
	  	permanent
	  	fixed
	  	app
	  	width="250"
	  	class="grey darken-2" dark
	  >
	    <v-toolbar 
	    	flat 
	    	class="light-blue accent-3"
	    >
	      <v-list  dense>
				<span class="group">
	      	 <img src="/images/header_logo.png"
			             width="80%"
				    />
				    <v-icon>dehaze</v-icon>
				    <v-btn icon large fixed></v-btn>
				</span>
	      </v-list>
	    </v-toolbar>
	    <v-list dense class="pt-0 grey darken-2" dark>
	        <template v-for="item in items">
	          <v-layout
	            row
	            v-if="item.heading"
	            align-center
	            :key="item.heading"
	          >
	            <v-flex xs6>
	              <v-subheader v-if="item.heading">
	                {{ item.heading }}
	              </v-subheader>
	            </v-flex>
	          </v-layout>
	          <v-list-group
	            v-else-if="item.children"
	            v-model="item.model"
	            :key="item.text"
	            :prepend-icon="item.model ? item.icon : item['icon-alt']"
	            append-icon=""
	          >
	            <v-list-tile slot="activator">
	              <v-list-tile-content>
	                <v-list-tile-title class="font">
	                  {{ item.text }}
	                </v-list-tile-title>
	              </v-list-tile-content>
	            </v-list-tile>
	            <v-list-tile
	              v-for="(child, i) in item.children"
	              :key="i"
	            >
	              <v-list-tile-action v-if="child.icon">
	                <v-icon>{{ child.icon }}</v-icon>
	              </v-list-tile-action>
	              <v-list-tile-content>
	                <v-list-tile-titlev class="font">
	                  {{ child.text }}
	                </v-list-tile-title>
	              </v-list-tile-content>
	            </v-list-tile>
	          </v-list-group>
	          <v-list-tile v-else @click="" :key="item.text">
	            <v-list-tile-action>
	              <v-icon>{{ item.icon }}</v-icon>
	            </v-list-tile-action>
	            <v-list-tile-content>
	              <v-list-tile-title class="font">
	                {{ item.text }}
	              </v-list-tile-title>
	            </v-list-tile-content>
	          </v-list-tile>
	        </template>
	      </v-list>
		</v-navigation-drawer>

 	<!-- 上のツールバー-->
		<v-toolbar permanent>
			<v-list-tile-title class="title"  width="10">
			</v-list-tile-title>
			<v-list-tile>
					<v-btn depressed small flat outline class="font">お客様名</v-btn>
					<v-btn depressed small flat outline class="font">証券番号</v-btn>
					<v-btn depressed small flat outline class="font">情報HW</v-btn>
					<v-btn depressed small flat outline class="font">FAQ+</v-btn>
			</v-list-tile>		
			<v-list-tile>
				<v-icon>search</v-icon>
				<v-list-tile-title class="font">検索</v-list-tile-title>
				<v-btn icon >
					<v-badge color="red" overlap>
						<span slot="badge">6</span>
					    	<v-icon>notifications</v-icon>
					</v-badge>
				</v-btn>
				<v-btn icon>
					<v-badge color="red" overlap>
						<span slot="badge">12</span>
					    	<v-icon>email</v-icon>
					</v-badge>
				</v-btn>
			</v-list-tile>
			<v-list-tile avatar>
				<v-list-tile-avatar  left>
				  <img src="/images/prf.jpg" >
				</v-list-tile-avatar>
				<v-list-tile-content>
				  <v-list-tile-title class="font">山田花子<v-icon>keyboard_arrow_down</v-icon></v-list-tile-title>
				</v-list-tile-content>
			</v-list-tile>
		</v-toolbar>
		</br>

<!-------------------------------------コンテンツ------------------------------------------>
	    <v-content style="font-family:'ヒラギノ角ゴシック';font-size: 130%;">
	    	<v-container grid-list-md fluid>
				<div >
					<h3>山田花子さんのダッシュボード</h3>
					<span>最新情報</span>
					<div style="text-align:right;color:gray;font-family:'ヒラギノ角ゴシック';">
						最終ログイン：2018/07/23 11:00:52
					</div>
				</div>

	    		<v-layout justify-center>
				 <v-flex xs12>
			      <v-card fluid grid-list-md xs12>
				   <v-container fluid grid-list-md class="font">
					<v-layout row >
						<v-flex d-flex xs2 text-xs-center>
							<v-flex white style="height:250px;">
								<v-card-media
									src="/images/joe.png"
									height="100%"
									contain
									round
								></v-card-media>
								<v-card-text>今日のジョー</v-card-text>
							</v-flex>
						</v-flex>
						<v-flex d-flex xs10>
							<v-flex 
								style="height:100%;"
								class="balloon"
							>
						    <v-layout column>
								<v-flex xs12 text-xs-start class="font" style="text-align: left;">
									<img 
											src="/images/5.png"
											style="width: 30px;"
									 />
									鈴木和子さんからのダッシュコール
								</v-flex>

								<v-flex d-flex xs8 text-xs-start class="font">
									「息子の保険について相談したいのですけれど、いつ来れますか」
								</v-flex>
							</v-layout></br>

							<!-- （１）知っ得情報 タイトル-->
							<v-layout row class="font">
						        <v-flex d-flex xs2 text-xs-center>
									<span style="border-radius: 5px;background-color:#08E086;color: white;font-weight: bold;">
							        	お知らせ
							        </span>
								</v-flex>
							</v-layout>
							<!-- （１）知っ得情報 ダイアログ-->
							<v-flex d-flex xs12 text-xs-center class="font">
								<v-layout row>    
									<v-dialog v-model="dialog1" max-width="700">
									  	<v-btn slot="activator" style="font-family:'ヒラギノ角ゴシック';font-size: 100%;" color="white"><%= connectResults[1].noticeoverview__c %></v-btn>
									  		<v-card>
												<form action="/" method="post">
													<v-card-title class="headline">お知らせ更新</v-card-title>
														<v-card-text style="font-family:'ヒラギノ角ゴシック';font-size: 100%;">
												    	<!-- （１）知っ得情報 ダイアログの中身-->
														<input type="hidden" name="q_id" value="<%= connectResults[1].name %>">
														<v-layout column>
															<v-flex xs12 class="font">
																<span style="border-radius: 3px;background-color:#08E086;color: white;font-weight: bold; font-size: 120%;">
																	お知らせ概要  
																</span>
															</v-flex>
															<v-flex xs12 class="font">
																<span style="font-weight: bold; font-size: 120%;">
																  <%= connectResults[1].noticeoverview__c %>
																</span>
															</v-flex>
														    <v-divider></v-divider></br>
															<v-flex xs12  class="font">

															<span style="border-radius: 5px;background-color:#08E086;color: white;font-weight: bold; font-size: 120%;">
																ステータス
															</span>
															<v-select
																:items="status"
																name = "select_status"
																label="<%= connectResults[1].status__c %>"
																autocomplete
															></v-select>
															</v-flex><v-flex xs12　class="font">

															<span style="border-radius: 5px;background-color:#08E086;color: white;font-weight: bold; font-size: 120%;">
																代理店コメント
															</span>
															<v-text-field
																type = "text" name = "agentcomments" 
																label="<%= connectResults[1].agentcomments__c %>"
																required
															></v-text-field>
											        </v-flex></v-layout>
										    </v-card-text>
										    <v-divider></v-divider>
									      <v-card-actions>
										      <v-spacer></v-spacer>
											    <v-btn color="blue darken-1" type="submit" class="submit">保存</v-btn>
												<v-btn color="blue darken-1" @click="dialog1 = false">キャンセル</v-btn>
										    </v-card-actions>
											</form>    
										</v-card>
									</v-dialog>
								</v-layout>
							</v-flex></br>

							<!-- （２）知っ得情報 タイトル-->
							<v-layout row>
						        <v-flex d-flex xs2 text-xs-center class="font">
									<span style="border-radius: 5px;background-color:#00BFFF;color: white;font-weight: bold;">
							        	お知らせ
							        </span>
								</v-flex>
							</v-layout>
							<!-- （２）知っ得情報 ダイアログ-->
							<v-flex d-flex xs12 text-xs-center class="font">
								<v-layout row>    
									<v-dialog v-model="dialog2" max-width="700">
									  	<v-btn slot="activator" style="font-family:'ヒラギノ角ゴシック';font-size: 100%;" color="white"><%= connectResults[0].noticeoverview__c %></v-btn>		<v-card>
												<form action="/" method="post">
													<v-card-title class="headline">お知らせ更新</v-card-title>
														<v-card-text style="font-family:'ヒラギノ角ゴシック';font-size: 100%;">
												    	<!-- （１）知っ得情報 ダイアログの中身-->
														<input type="hidden" name="q_id" value="<%= connectResults[0].name %>">
														<v-layout column>
															<v-flex xs12>
																<span style="border-radius: 3px;background-color:#00BFFF;color: white;font-weight: bold; font-size: 120%;">
																	お知らせ概要  
																</span>
															</v-flex>
															<v-flex xs12>
																<span style="font-weight: bold; font-size: 120%;">
																  <%= connectResults[0].noticeoverview__c %>
																</span>
															</v-flex>
														    <v-divider></v-divider></br>
															<v-flex xs12>

															<span style="border-radius: 5px;background-color:#00BFFF;color: white;font-weight: bold; font-size: 120%;">
																ステータス
															</span>
															<v-select
																:items="status"
																name = "select_status"
																label="<%= connectResults[0].status__c %>"
																autocomplete
															></v-select>
															</v-flex><v-flex xs12>

															<span style="border-radius: 5px;background-color:#00BFFF;color: white;font-weight: bold; font-size: 120%;">
																代理店コメント
															</span>
															<v-text-field
																type = "text" name = "agentcomments" 
																label="<%= connectResults[0].agentcomments__c %>"
																required
															></v-text-field>
											        </v-flex></v-layout>
										    </v-card-text>
										    <v-divider></v-divider>
									      <v-card-actions>
										      <v-spacer></v-spacer>
											    <v-btn color="blue darken-1" type="submit" class="submit">保存</v-btn>
												<v-btn color="blue darken-1" @click="dialog2 = false">キャンセル</v-btn>
										    </v-card-actions>
											</form>    
										</v-card>

									</v-dialog>
								</v-layout>
							</v-flex>
					</v-flex>
								<v-flex d-flex xs3>
				        			<v-layout column wrap justify-space-between>
				          				<v-flex d-flex>
											<img 
											src="/images/1.png"
											style="width: 8vw;height: 3vw;"
											 />
					        				</v-flex>
										<v-flex d-flex>
											<img 
											src="/images/2.png"
											style="width: 8vw;height: 3vw;"
											 />
										</v-flex>
										<v-flex d-flex>
											<img 
											src="/images/3.png"
											style="width: 8vw;height: 3vw;"
											 />
						          		</v-flex>
							        </v-layout>
							      </v-flex>
						        </v-layout>

						        <!-- ページネーション -->
						        <div class="text-xs-center">
									<v-pagination
									  v-model="page"
									  :length="3"
									  color="orange lighten-3"
									></v-pagination>
								</div>

						      </v-flex>
						  </v-layout>
						</v-container>
					</v-card>
				</v-flex>
			</v-layout>
		</v-container>
	　<!--　タブ　-->
		<v-container>
	    		<v-layout justify-center>
					<img 
					src="/images/4.png"
					style="width: 30%;height: 30%;"
					 />
			</v-layout>
		</v-container>

	　<!--　モック　-->
	    	<v-container grid-list-md fluid>
	    		<v-layout justify-center>
				 <v-flex xs12 text-xs-center>
			      <v-card fluid grid-list-md xs12>
			      	<div>
					<img 
					src="/images/mock1.jpeg"
					style="width: 70%;"
					 /></div>
				　</v-card>
				</v-flex>
			　</v-layout>
			</v-container>

	    </v-content>
	</v-app>
</div>



	<script type="text/javascript">
	new Vue({
	  el: '#app',
	  data: () => ({
		  gradient 	: 'to top, #7B1FA2, #E1BEE7',
	      drawer 	: null,
	      dialog1	: false,
	      dialog2	: false,
	      page: 1,
	      valid: true,
	      noticeoverview 	:'',
	      status 			:'',
	      agentcomments 	:'',
	      status: [
	    	{ text: '未対応' },
	    	{ text: '対応済' }
	      ],
	      items: [
	        { icon: 'keyboard_arrow_down', text: '業務' },
	        { icon: 'pie_chart', text: 'ダッシュボード' },
	        { icon: 'note', text: 'タスク管理' },
	        { icon: 'content_copy', text: 'プロセス管理' },
	        { icon: 'domain', text: '学習ツール' },
	        { icon: 'share', text: 'マーケティングツール' },
	        { icon: 'device_hub', text: '代理店経理' },        
	        {
	          icon: 'keyboard_arrow_down',
	          text: '商談',
	          model: true,
	          children: [
	            { icon: 'highlight', text: '事前準備' },
	            { icon: 'sync', text: '商談中' }
	          ]
	        },
	        { icon: 'people', text: 'フォローアップ' },        
	        { icon: 'trending_up', text: 'セールスツール' },        
	        {
	          icon: 'keyboard_arrow_up',
	          'icon-alt': 'keyboard_arrow_down',
	          text: 'More',
	          model: false,
	          children: [
	            { text: 'Import' },
	            { text: 'Export' },
	            { text: 'Print' },
	            { text: 'Undo changes' },
	            { text: 'Other contacts' }
	          ]
	        },
	        { icon: 'settings', text: 'Settings' },
	        { icon: 'chat_bubble', text: 'Send feedback' },
	        { icon: 'help', text: 'Help' },
	        { icon: 'phonelink', text: 'App downloads' },
	        { icon: 'keyboard', text: 'Go to the old version' }
	      ]
		}),
	    props: {
	      source: String
	    }
    })
	</script>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>

    </body>
</html>
