<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>三菱UFJ</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
<!--    <link href="style.css" rel="stylesheet" type="text/css"></link> -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
<div id="app">
 <v-app id="example-4" standalone>
	<v-content>
		<v-container>
				<div >
					<h3>Twitterメッセージ</h3>
					<span>最新情報</span>
				</div>

		          <v-flex xs12>
					<v-text-field
					color="red lighten-1"
		            label="ID：<%= connectResults[0].twitterid__c %>　　　
		            アカウント名：<%= connectResults[0].twitteraccount__c %>　　
		            現在時刻 ●：●●"
		            value="<%= connectResults[0].message__c %>"
		            outline
            		readonly
            		loading
		          ></v-text-field>
		        </v-flex>

		          <v-flex xs12>
					<v-text-field
					color="red lighten-1"
		            label="ID：<%= connectResults[1].twitterid__c %>　　　
		            アカウント名：<%= connectResults[1].twitteraccount__c %>　　
		            現在時刻 ●：●●"
		            value="<%= connectResults[1].message__c %>"
		            outline
            		readonly
		          ></v-text-field>
		        </v-flex>

		          <v-flex xs12>
					<v-text-field
					color="red lighten-1"
		            label="ID：<%= connectResults[1].twitterid__c %>　　　
		            アカウント名：<%= connectResults[1].twitteraccount__c %>　　
		            現在時刻 ●：●●"
		            value="<%= connectResults[1].message__c %>"
		            outline
            		readonly
		          ></v-text-field>
		        </v-flex>

		    </v-container>
        </v-content>
	</v-app>
</div>



	<script type="text/javascript">
	new Vue({
	  el: '#app',
	  data: () => ({
		  gradient 	: 'to top, #7B1FA2, #E1BEE7',
		}),
	    props: {
	      source: String
	    }
    })
	</script>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>

    </body>
</html>
